@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<h2>Index</h2>
@section Db_pageHeading{
}
@section Db_rightTop{
}
@section Db_rightNav
{

    <div class="contentCore">@Session["UserId"]</div>
}

@section Db_Header
{
    <style type="text/css">
        .userName {
            font-family: Arial;
            font-weight: bold;
        }
    </style>
   

}