@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_CMSLayout.cshtml";
}

<h2>Dashboard</h2>
<br />
<ul>
    <br />
    <li>
        <h2><a href="adminusers">Admin Users</a></h2>
        <br />
    </li>
    <li>
        <h2><a href="announcements">Announcement</a></h2>
        <br />
    </li>

    <li>
        <h2><a href="feedback">Feedback</a></h2>
        <br />
    </li>
    <li>
        <h2><a href="contact">Contact</a></h2>
        <br />
    </li>
    <li>
        <h2><a href="chat">Chat</a></h2>
        <br />
    </li>
</ul>



